{
    "discovery": {
        "credentials": {
            "apikey": "",
            "url": ""
        },
        "environments": [
            {
                "name": "",
                "environment_id": "",
                "collections": [
                    {
                        "name": "",
                        "collection_id": ""
                    }
                ]
            }
        ]
    },
    "assistant": {
        "credentials": {
            "apikey": "",
            "url": ""
        },
        "assistant_id": ""
    }
}